.col-1 {
  flex-basis: 5%;
}

.col-2 {
  flex-basis: 10%;
}

.col-3 {
  flex-basis: 15%;
}

.col-4 {
  flex-basis: 20%;
}

.col-5 {
  flex-basis: 25%;
}

.col-6 {
  flex-basis: 30%;
}

.col-7 {
  flex-basis: 35%;
}

.col-8 {
  flex-basis: 40%;
}

.col-9 {
  flex-basis: 45%;
}

.col-10 {
  flex-basis: 50%;
}

.col-11 {
  flex-basis: 55%;
}

.col-12 {
  flex-basis: 60%;
}

.col-13 {
  flex-basis: 65%;
}

.col-14 {
  flex-basis: 70%;
}

.col-15 {
  flex-basis: 75%;
}

.col-16 {
  flex-basis: 80%;
}

.col-17 {
  flex-basis: 85%;
}

.col-18 {
  flex-basis: 90%;
}

.col-19 {
  flex-basis: 95%;
}

.col-20 {
  flex-basis: 100%;
}
@font-face {
  font-family: woff;
  font-display: swap;
  src: url('woff.ttf');
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-20 {
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}
.logo{
  display: flex;
  flex: right;
}

.navteam {
  color: red;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
  font-size: 13.5pt;
}
.navedu{
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}
.navadd{
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}
.naveng{
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}




body, .nav {
  background-color: white;
}

.nav1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
}

.main {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 1200px;
}

.nav {
  display: flex;
  background: #ededed;
  flex-direction: row;
  padding: 5px;
  justify-content: space-around;
  font-size: 20px;

}
A IMG{
  border: 0;
}
.navmiddle {
 
  background-color:rgb(204, 22, 22);;
  padding: 30px;
  margin: 10px;
  padding-bottom: 120px;
}

.navprimary {
  background-color: rgb(248, 163, 6);
  padding: 30px;
  margin: 10px;
}

.navkinder {
  background-color: rgb(10, 126, 10);
  padding: 30px;
  margin: 10px;
}

.navmanage {
  background-color: rgb(28, 28, 173);
  padding: 30px;
  margin: 10px;
}
.tteam{
  font-size: 56.5pt;
}
hr {
  border: none; 
  background-color:blue; 
  color: blue;
  height: 2px; 
}
body {
  background: #ededed;
  background-color: white;
  font-family: 'woff';
}

.management_team {
  align-content: flex-end;
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  color: blue;
}

.kindergarden {
  align-content: flex-end;
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  color: blue;
}

.primary {
  align-content: flex-end;
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  color: blue;
}

.middle {
  align-content: flex-end;
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  color: blue;
  padding: 30px;
  margin: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  background-color: rgb(41, 41, 190);
  height: 120px;
  padding-bottom: 40px;
  padding-top: 40px;
  font-size: 20px;
  

}

footer {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  
  background-color: rgb(33,33,33);
  color: white;
 
  padding-left: 20px;
}

.managet {
  color: blue;
  font-size :24pt ;
}

.primaryt {
  color: blue;
  font-size :24pt ;
}

.kindert {
  font-size :24pt ;
  color: blue;
}

.address {}

.info {
  display: flex;
  justify-content: right;
  justify-content: space-around;
  align-content: center;
}

.middlet {
  color: blue;
  font-size :24pt ;
}
A{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
A:active{
  color: red;
}
A:hover{
  color: red;
  
  
}
A:visited{
  
  text-decoration: none;
}

.foott{
display: flex;
flex-direction: row;
justify-content:space-evenly;
font-size: 25px;
}
.text1{
  font-size:15px ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footinfo{
  padding-left: 20px;
}
.footinfot{
  
  font-size: 40px;
}
.hr1{
  border: none; 
  background-color: white; 
  color: white;
  height: 2px; 
}
.foothyper{
  color: white;
}